body {
    font-family: 'Courier New', Courier, monospace;
}
#documentation-body.dark {
    background-color: #090300;
    color: #d6d6d6;
}

p.multiline {
    line-height: 1.5;
}

#container-table {
    width: 70%;
    margin: auto;
    /* padding-top: 1%; */
    padding-bottom: 3%;
}

/* table, th, td {
    border:2px solid black;
} */

.toggle-content {
    padding-left: 5%;
    /* padding-bottom: 15px; */
}
.tabbed {
    padding-left: 2%;
}

.toggle-header {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 15px;
    /* margin-top: 5px; */
}

.toggle-header::before{
    color: black;
    content: '\2795\fe0e'; /*plus*/
    float:left;
    padding-right: 15px;
    margin-top: -3px;
}

.toggle-header.dark {
    /* background-color: #090300; */
    color: #d6d6d6;
}
.toggle-header.dark::before {
    color: #d6d6d6;
}

.open::before{
    color: black;
    content: '\2796\fe0e'; /*minus*/
    /* float:left; */
}

.subsection {
    font-size: 18px;
    margin-top: 15px;
}

/* #button-row {
    border: 2px solid black;
    margin-left: 5%;
} */

.control-button {
    margin-left: 5px;
    margin-top: 5px;
}
.control-button:last-of-type {
    margin-right: 5%;
}
#control-row {
    text-align: right;
}

p {
    margin-bottom: 5px;
}

/* headers */
#keywords-header {
    color: #708;
}
#keywords-header.dark {
    color: #db2d20;
}
#constructors-header {
    color: royalblue;
}
#constructors-header.dark {
    color: #e8bbd0;
}