body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--text-color);
    text-align: left;
}

p.multiline {
    line-height: 1.5;
}

#constructors-table td {
    vertical-align: top;
}

#container-table {
    width: 70%;
    margin: auto;
    /* padding-top: 1%; */
    padding-bottom: 3%;
}

.toggle-content {
    padding-left: 5%;
}
.tabbed {
    padding-left: 2%;
}

.toggle-header {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 15px;
    color: var(--text-color);
    text-align: left;
}

.toggle-header::before{
    color: var(--text-color);
    content: '\2795\fe0e'; /*plus*/
    float:left;
    padding-right: 15px;
    margin-top: -3px;
}

.open::before{
    color: var(--text-color);
    content: '\2796\fe0e'; /*minus*/
}

.subsection {
    font-size: 18px;
    margin-top: 15px;
}
.subsub {
    font-size: medium;
    font-weight: normal;
}

.control-button {
    margin-left: 5px;
    margin-top: 5px;
}
.control-button:last-of-type {
    margin-right: 5%;
}
#control-row {
    text-align: right;
}

p {
    margin-bottom: 5px;
}

/* headers */
#keywords-header {
    color: var(--keywords);
}
#constructors-header {
    color: var(--constructors);
}

.code-snippet-cell {
    background-color: var(--smallest-color);
}

/* debugging purposes */
/* table, th, td {
    border:2px solid black;
} */