body {
    font-family: 'Courier New', Courier, monospace;
}

p.multiline {
    line-height: 1.5;
}

#container-table {
    width: 70%;
    margin: auto;
    /* padding-top: 1%; */
    padding-bottom: 3%;
}

/* table, th, td {
    border:2px solid black;
} */

.toggle-content {
    padding-left: 5%;
    /* padding-bottom: 15px; */
}
.tabbed {
    padding-left: 2%;
}

.toggle-header {
    cursor: pointer;
    background-color: white;
    outline: none;
    border: none;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 15px;
    /* margin-top: 5px; */
}

.toggle-header::before{
    color: black;
    content: '\2795\fe0e'; /*plus*/
    float:left;
    padding-right: 15px;
    margin-top: -3px;
}

.open::before{
    color: black;
    content: '\2796\fe0e'; /*minus*/
    /* float:left; */
}

.subsection {
    font-size: 18px;
    margin-top: 15px;
}

/* #button-row {
    border: 2px solid black;
    margin-left: 5%;
} */

.control-button {
    margin-right: 5px;
    margin-top: 5px;
}
.control-button:first-of-type {
    margin-left: 5%;
}

p {
    margin-bottom: 5px;
}