body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--text-color);
}

#output-field {
    background-color: var(--background);
    color: var(--text-color);
}

.container {
    text-align: left;
    width: 100%;
}

th {
    padding-left: 15px;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    width: 99%;
}

table {
    table-layout: fixed;
}

.example-code-cell, .example-output-cell {
    border: 1px solid gray;
    border-radius: 2px;
    vertical-align: top;
    height: 75vh;
}

#output-title-cell {
    height: min-content;
}

.temp-button {
    visibility: hidden;
}

select {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
select.dark {
    color:#d6d6d6;
}

/* debugging purposes */
/* table, th, td {
    border:2px solid black;
} */