body {
    font-family: 'Courier New', Courier, monospace;
}
#examples-body.dark {
    background-color: #090300;
    color: #d6d6d6;
}
#output-field.dark {
    background-color: #090300;
    color: #d6d6d6;
}

.container {
    text-align: left;
    width: 100%;
}

th {
    padding-left: 15px;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    width: 99%;
    /* vertical-align: top; */
    /* font-size: 13px; */
}

table {
    table-layout: fixed;
}

#example-diagrams-cell {
    border: 1px solid gray;
    border-radius: 2px;
}

/* table, th, td {
    border:2px solid black;
} */

.example-code-cell {
    border: 1px solid gray;
    border-radius: 2px;
    vertical-align: top;
    height: 100%;
}
.example-output-cell {
    border: 1px solid gray;
    border-radius: 2px;
    vertical-align: top;
}

#output-title-cell {
    height: min-content;
}

.temp-button {
    visibility: hidden;
}

select {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

select.dark {
    color:#d6d6d6;
}