body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    text-align: left;
    width: 100%;
}

th {
    padding-left: 15px;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    width: 99%;
    /* vertical-align: top; */
    /* font-size: 13px; */
}

table {
    table-layout: fixed;
}

/* .example1-diagrams {
    /* border: 2px solid gray; */
    /* border-radius: 2px; */
/* } */ 
#example1-diagrams-cell {
    border: 1px solid gray;
    border-radius: 2px;
}

/* table, th, td {
    border:2px solid black;
} */

#example1-code {
    width: 98%;
    height: 100%;
    /* vertical-align: top; */
    /* height: 200px; */
}
#example1-code-cell {
    border: 1px solid gray;
    border-radius: 2px;
    vertical-align: top;
    height: 100%;
}
#example1-output-cell {
    border: 1px solid gray;
    border-radius: 2px;
    vertical-align: top;
}

#output-title-cell {
    height:auto;
}

#temp-button {
    visibility: hidden;
}