body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--text-color);
}

/* TextFields */
#output, #debug, #code {
    background-color: var(--background);
    color: var(--text-color);
}

.container {
    width: 100%;
    height: 80vh;
    text-align: left;
}

#editor {
    height: 100%;
}

#output, #debug {
    height: 99%;
}

.output-container {
    height: 100%;
    width: 100%;
}

#code-cell, #output-cell{
    border: 1px solid gray;
    border-radius: 2px;
    /* height:70vh; */
}

#output-cell {
    /* border-top: none; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

table {
    table-layout: fixed;
}

th {
    padding-left: 15px;
}

textarea {
    outline: none;
    resize: none;
    width: 99%;
    border: none;
    background-color: var(--background);
    color: var(--text-color);
}

#code-cell, #output, #debug, #steps, #info {
    height:75vh;
    vertical-align: top;
}
#output {
    margin-top: 6px;
    margin-left: 6px;
}

#display {
    width: 100%;
    height: fit-content;
    text-align: right;
}

#filler-div {
    display:inline-block;
}

#runtime {
    display:inline-block;
    padding: 10px 10px 10px 10px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: var(--small-color);
    color: var(--text-color);
    font-weight: bold;
    vertical-align: top;
}

/* containing run, clear, and debug buttons */
#button-cell {
    text-align: right;
}

#run-button {
    margin-right: 12px;
}

.tab-button, .debug-button, .compiler-button {
    margin: -21.75px 0 -0.75px -1.5px;
    border-top: none;
    vertical-align: bottom;
}

#output-tab-button {
    border-top-right-radius: 0px;
}

#compiler-tab-button, #debug-tab-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-left: -10px;
}

.current-tab.styled-button {
    background-color: var(--main-color);
}

.debug-button {
    width: 30px;
    display: inline-block;
    margin-left: -10px;
    height: 20px;
    margin-bottom: 0px;
}
#back-button, #step-button, #run-mem-button, #run-return-button, #rud-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#back-button {
    margin-left: 3px;
}
.debug-button p{
    margin-top: -3px;
}
#rud-button p{
    margin-top: -2px;
}

.compiler-button {
    display: inline-block;
    margin-left: -10px;
    margin-bottom: -0.75px;
}
#steps-tab, #diff-tab {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#diff-tab {
    margin-left: 3px;
}

#diff-container, #steps-container {
    vertical-align: top;
    height: 75.8vh;
}
#diff1, #diff2, #steps {
    border: 1px solid gray;
    border-radius: 2px;
    height: 70.5vh;
}

.big-label {
    font-weight: bold;
    font-size: 15px;
    vertical-align: bottom; 
}
.small-label {
    font-size: 12px;
    font-weight: bold;
    margin-left: -6px;
}

select {
    margin-top: 2px;
}

.error-highlight {
    background-color: var(--error);
}
.CodeMirror-selected {
    background-color: var(--text-selected) !important;
}
/* .CodeMirror-selected.error-highlight {
    background-color: var(--error-selected) !important;
} */

#copied-ack {
    transition: opacity 1s;
    width:max-content;
    opacity: 0;
    cursor: default;
    height: min-content;
    /* hover:none; */
    /* border: 2px solid black; */
}
#copied-ack:hover {
    background-color: var(--small-color);
}
.appearing {
    opacity: 1;
    animation: temp-appear 1s linear;
}
@keyframes temp-appear {
    0%, 100% { opacity: 0 }
    20%, 80% { opacity: 1 }
}

#cm-complete-0 {
    list-style-type: none;
    width:max-content;
    text-align: left;
    /* padding-right: 3px;
    padding-left: 10px; */
}
#cm-complete-0:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
#cm-complete-0:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
#cm-complete-0 > li {
    padding: 1px 3px 1px 3px;
    display: inline-block;

    border: 1px solid gray;
    /* border-radius: 2px; */
    background-color: var(--small-color);
}
#cm-complete-0 > li:hover {
    background-color: var(--medium-color);
}

/* debugging purposes */
/* table, th, td {
    border:2px solid black;
} */