/* default theme colors */
:root {
    --background: white;
    --main-color: lightblue;
    --medium-color: #c7e6f0;
    --small-color: #e3f1f6;
    --text-color: black;
    --keywords: #708;
    --constructors: royalblue;
}
/* dark theme colors */
[theme="dark"] {
    --background: #090300;
    --main-color: #006f93;
    --medium-color: #003f54;
    --small-color: #003142;
    --text-color: #d6d6d6;
    --keywords: #db2d20;
    --constructors: #e8bbd0;
}

.nav {
    overflow: hidden;
}

.nav a {
    vertical-align: middle;
    float: left;
    text-align: center;
    padding: 15px 15px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-color);
    margin: 0 10px 0 10px;
    user-select: none;
}
.nav a:not(a.logo):hover {
    background-color: var(--medium-color);
    color: var(--text-color);
    cursor: pointer;
}
.nav a.current-page {
    background-color: var(--main-color);
    color: black;
}
.nav a.logo {
    vertical-align: middle;
    font-size: 28px;
    font-weight: bold;
    float: left;
    padding: 15px 15px;
    margin: 0;
    color: var(--text-color);
    margin-top: -3px;
}

#theme-button {
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
}
#theme-button p{
    margin-top: -3px;
    transform: rotate(120deg);
}
#theme-button.dark p{
    transform: rotate(0deg);
}


/* other shared styles */

button {
    cursor: pointer;
}

.styled-button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    outline: none;
    background-color: var(--small-color);
    border: 1px solid gray;
    padding: 2px 5px;
    border-radius: 5px;
    color: var(--text-color);
}
.styled-button:hover {
    background-color: var(--medium-color);
    color: var(--text-color);
}

mark {
    background-color: var(--small-color);
    color: var(--text-color);
    border-radius: 2px;
}
mark b {
    padding: 0 3px 0 3px;
}

body:not(.show) {
    display: none;
}

.hide {
    display: none;
}
textarea:not(.hide) {
    display: block;
}