:root {
    --background: white;
    --main-color: lightblue;
    --medium-color: #c7e6f0;
    --light-color: #e3f1f6;
    --text-color: black;
}
[theme="dark"] {
    --background: #090300;
    --main-color: #006f93;
    --medium-color: #003f54;
    --light-color: #003142;
    --text-color: #d6d6d6;
}

.nav {
    overflow: hidden;
}

.nav a {
    vertical-align: middle;
    float: left;
    text-align: center;
    padding: 15px 15px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin: 0 10px 0 10px;
    user-select: none;
}
.nav a:not(a.logo):hover {
    background-color: #c7e6f0;
    cursor: pointer;
}
.nav.dark a:not(a.logo):hover {
    background-color: #003f54;
    color: #d6d6d6;
    cursor: pointer;
}
.nav a.current-page {
    background-color: lightblue;
    color: black;
}
.nav.dark a.current-page {
    background-color: #006f93;
    color: black;
}

.nav a.logo {
    vertical-align: middle;
    font-size: 28px;
    font-weight: bold;
    float: left;
    padding: 15px 15px;
    margin: 0;
    color: black;
    margin-top: -3px;
}
.nav.dark a, .nav.dark a.logo {
    color: #d6d6d6;
}

#theme-button {
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
}
#theme-button p{
    margin-top: -3px;
    /* transform: rotate(-30deg); */
}


/* other shared styles */
button {
    cursor: pointer;
}

.styled-button {
    outline: none;
    background-color: #e3f1f6;
    border: 1px solid gray;
    padding: 2px 5px;
    border-radius: 5px;
}
.styled-button:hover {
    background-color: #c7e6f0;
}

.styled-button.dark {
    background-color: #003f54;
    color:#d6d6d6;
}
.styled-button.dark:hover {
    background-color: #006f93;
    color:#d6d6d6;
}

mark {
    background-color: #e3f1f6;
    border-radius: 2px;
}
mark b {
    padding: 0 3px 0 3px;
}
mark.dark {
    background-color: #003142;
    color:#d6d6d6;
}

.hidden {
    content-visibility: hidden;
}